<!doctype html>
<html ng-app="RoomMade">
<head>
  <title></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://code.getmdl.io/1.1.2/material.indigo-pink.min.css">
  <script defer src="https://code.getmdl.io/1.1.2/material.min.js"></script>
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body ng-controller="mainCtrl">
<!-- <h1>index2</h1> -->

  <!-- header -->
    <header>
      <!-- Location -->
      <div class="location-enter">

        <form action="#" autocomplete="off">
          <h2>Location</h2>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
            <label class="mdl-button mdl-js-button mdl-button--icon" for="sample6">
              <i class="material-icons">search</i>
            </label>
            <div class="mdl-textfield__expandable-holder">
              <input class="mdl-textfield__input" type="text" id="sample6" ng-model="location">
              <label class="mdl-textfield__label" for="sample-expandable"></label>
            </div>
          </div>
          <p>Enter city or a particular address to better determine location of hotels.</p>
        </form>
      </div> 
    </header>
  <!-- end header -->

  <!-- body -->

    <!-- templates -->
    <!-- <div ng-controller="mainCtrl"> -->
    <div class="search-templates">

      <p>Select room template or create yours</p>
      
      <div>
        <div class="mdl-grid">
          <div class="mdl-cell" ng-repeat="template in templates">
            <!-- Card 1 -->
              <div class="roommade-card-wide mdl-card mdl-shadow--2dp" ng-class="{ 'is-select': template.select }">

                <div class="mdl-card__title" ng-click="select(template)">
                  <h2 class="mdl-card__title-text">{{template.name}}</h2>
                </div>

                <div class="mdl-card__supporting-text" ng-click="select(template)">
                  <ul class="demo-list-icon mdl-list">
                    <li class="mdl-list__item" ng-repeat="option in template.options">
                      <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon">done</i>
                        {{option.name}}
                      </span>
                    </li>
                  </ul>
                </div>

                <div class="mdl-card__actions mdl-card--border">
                  <form action="#">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                      <input class="mdl-textfield__input datepick" type="text" value="{{template.checkin}}">
                      <label class="mdl-textfield__label" for="sample3">Check in</label>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                      <input class="mdl-textfield__input datepick" type="text" value="{{template.checkout}}">
                      <label class="mdl-textfield__label" for="sample3">Check out</label>
                    </div>

                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                      <input class="mdl-textfield__input" type="text" value="{{template.adult}}">
                      <label class="mdl-textfield__label" for="sample3">Adult</label>
                    </div>

                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" ng-if="template.child">
                      <input class="mdl-textfield__input" type="text" value="{{template.child}}">
                      <label class="mdl-textfield__label" for="sample3">Child</label>
                    </div>

                    <div class="room-number">
                      <p>Number of rooms:</p>
                      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="text" id="sample3" value="{{template.room}}">
                        <label class="mdl-textfield__label" for="sample3"></label>
                      </div>
                    </div>
                  </form>
                </div>
                <div class="mdl-card__menu">
                  <i class="material-icons mdl-list__item-icon">bookmark</i>
                </div>
              </div>
            <!-- end Card 1 -->
            {{datepick()}}
          </div>

          <div class="mdl-cell">
              <div class="roommade-card-wide mdl-card mdl-shadow--2dp add-new-template">

                <div class="mdl-card__title">
                  <h2 class="mdl-card__title-text">Create template</h2>
                </div>

                <div class="mdl-card__supporting-text roommade-card-create-template">

                  <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored c--dark js-create-template">
                    <i class="material-icons">add</i>
                  </button>
                </div>

              </div>
          </div>
        </div>
      </div>

      <!-- Search button -->
      <div class="search-button">
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent c--green" ng-click="search();">Search</button>
      </div>

<!--       <div class="c-hidden c-request-progress search-button">
          Searching...
      </div> -->

    </div>

    
    <!-- Results -->
    <div class="results">
    
      <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect tab-style--pink">
        
        <!-- Tabs -->
        <div class="mdl-tabs__tab-bar tab-style--pink">
            <a href="#search-result-panel" class="mdl-tabs__tab is-active">Result</a>
            <a href="#map-panel" class="mdl-tabs__tab">Map</a>
        </div>
        
        <!-- Tab Search results -->
        <div class="mdl-tabs__panel is-active" id="search-result-panel">
          
          <div class="search-result-list">

            <!-- <div class="roommade-card-img">
              <p style="background-image: url(http://cdn.photo.hotellook.com/image_v2/crop/h715674_1/340/300.jpg)"></p>
            </div> -->

            <!-- result card -->
            <div class="" ng-repeat="hotel in data.hotelInfo | orderObjectBy:'Rel':true">
            <div class="roommade-card mdl-shadow--2dp"> <!-- // ng-repeat="room in hotel.rooms" -->

              <div class="roommade-card-img" ng-style="{'background-image':'url(http://cdn.photo.hotellook.com/image_v2/crop/h' + hotel.id + '_1/340/300.jpg)'}"></div>

              <div class="roommade-card-body">
                <div class="mdl-card__title">
                <!-- {{result.templateName}} -->
                  <h2 class="mdl-card__title-text"> {{ getSelectedTemplate().name }} room in {{hotel.name}}</h2>

                  <!-- hotel rating -->
                  <div class="hotel-rating">
                    <i class="material-icons" ng-repeat="star in getStars(hotel.stars) track by $index">star</i>
                  </div>

                  <!-- button -->
                  <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" ng-click="goToBooking(hotel.Room.fullBookingURL)"> Book now </button>
                </div>

                <div class="mdl-card__supporting-text">
                  <table>
                    <tr>
                      <td>
                        Relevation
                      </td>
<!--                       <td>
                        <div id="p{{hotel.id}}" class="mdl-progress mdl-js-progress"></div> -->
                        <!-- {{ setRelevation('#p'+ hotel.id, 30 ) }} --> <!-- getRelevation( getSelectedTemplate().options, hotel.amenities )
                      </td> -->
                      <!-- <td>{{ getRelevation( getSelectedTemplate().options, hotel ) }}%</td> -->
                      <td>{{ hotel.Rel }}%</td>
                    </tr>
                  </table>
                  <div>
                    <!-- Simple MDL Progress Bar -->
                    
                  </div>
                  <div>
                    <!-- Simple MDL Progress Bar -->
                    
                  </div>
                </div>

                <div class="list-options">
                  <ul class="mdl-list" ng-repeat="template in templates">
                    <li class="mdl-list__item ng-scope" ng-if="template.select" ng-repeat="option in template.options">
                      <span class="mdl-list__item-primary-content ng-binding">
                        <i class="material-icons mdl-list__item-icon" ng-if="compareOption(option.id, hotel.amenities)">done</i>
                        <i class="material-icons mdl-list__item-icon is-icon-false" ng-if="!compareOption(option.id, hotel.amenities)">block</i>
                        {{option.name}}
                      </span>
                    </li>
                  </ul>
                </div>

                <div class="rating-list">
                  <ul class="mdl-list">
                    <li class="mdl-list__item ng-scope">
                      <span class="mdl-list__item-primary-content ng-binding">
                        Available rooms: {{hotel.AvaTotal}}
                      </span>
                    </li>
                    <li class="mdl-list__item ng-scope">
                      <span class="mdl-list__item-primary-content ng-binding">
                        Distance from City center: {{hotel.distance}} km.
                      </span>
                    </li>
                    <li class="mdl-list__item ng-scope">
                      <span class="mdl-list__item-primary-content ng-binding">
                        Stay price: ${{hotel.minPriceTotal}}
                      </span>
                    </li>
                  </ul>  
                </div>

              </div>

            </div>
            </div>
            <!-- end result card -->
          </div>

          <!-- MDL Spinner Component -->
          <div class="js-loader-results c-hidden">
            <div class="mdl-spinner mdl-js-spinner is-active"></div>
          </div>
        </div>
        
        <!-- Tab Map -->
        <div class="mdl-tabs__panel" id="map-panel">

        </div>
      </div>
  
    </div>
    <!-- </div> -->


  <!-- end body -->

  <!-- popup -->
  <div class="create-template-popup js-create-template-popup">
    <div class="mdl-shadow--2dp">
      <p>Select room template or create yours</p>

      <div class="mdl-card__supporting-text">
        <ul class="demo-list-icon mdl-list">
          <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
              <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-bed">
                <input type="checkbox" id="checkbox-bed" class="mdl-checkbox__input" ng-model="templ.bed">
                <span class="mdl-checkbox__label">bed</span>
              </label>
            </span>
          </li>
          <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
              <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-conditioning">
                <input type="checkbox" id="checkbox-conditioning" class="mdl-checkbox__input">
                <span class="mdl-checkbox__label">Air conditioning</span>
              </label>
            </span>
          </li>
          <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
              <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-TV">
                <input type="checkbox" id="checkbox-TV" class="mdl-checkbox__input">
                <span class="mdl-checkbox__label">TV</span>
              </label>
            </span>
          </li>
          <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
              <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-Kitchen">
                <input type="checkbox" id="checkbox-Kitchen" class="mdl-checkbox__input">
                <span class="mdl-checkbox__label">Kitchen</span>
              </label>
            </span>
          </li>
          <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
              <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-Bath">
                <input type="checkbox" id="checkbox-Bath" class="mdl-checkbox__input">
                <span class="mdl-checkbox__label">Bath</span>
              </label>
            </span>
          </li>
          <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
              <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-WI-FI">
                <input type="checkbox" id="checkbox-WI-FI" class="mdl-checkbox__input">
                <span class="mdl-checkbox__label">WI-FI in room</span>
              </label>
            </span>
          </li>
          <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
              <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-Parking">
                <input type="checkbox" id="checkbox-Parking" class="mdl-checkbox__input">
                <span class="mdl-checkbox__label">Parking</span>
              </label>
            </span>
          </li>
          <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
              <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-Shower">
                <input type="checkbox" id="checkbox-Shower" class="mdl-checkbox__input">
                <span class="mdl-checkbox__label">Shower</span>
              </label>
            </span>
          </li>
          <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
              <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-Children-care">
                <input type="checkbox" id="checkbox-Children-care" class="mdl-checkbox__input">
                <span class="mdl-checkbox__label">Children care</span>
              </label>
            </span>
          </li>
          <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
              <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-Refrigerator">
                <input type="checkbox" id="checkbox-Refrigerator" class="mdl-checkbox__input">
                <span class="mdl-checkbox__label">Refrigerator</span>
              </label>
            </span>
          </li>

          <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
              <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-bar">
                <input type="checkbox" id="checkbox-bar" class="mdl-checkbox__input">
                <span class="mdl-checkbox__label">Mini bar</span>
              </label>
            </span>
          </li>
          <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
              <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-Ironing-board">
                <input type="checkbox" id="checkbox-Ironing-board" class="mdl-checkbox__input">
                <span class="mdl-checkbox__label">Ironing board</span>
              </label>
            </span>
          </li>
          <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
              <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-newspaper">
                <input type="checkbox" id="checkbox-newspaper" class="mdl-checkbox__input">
                <span class="mdl-checkbox__label">Daily newspaper</span>
              </label>
            </span>
          </li>
          <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
              <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-Telephone">
                <input type="checkbox" id="checkbox-Telephone" class="mdl-checkbox__input">
                <span class="mdl-checkbox__label">Telephone</span>
              </label>
            </span>
          </li>
          <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
              <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-movies">
                <input type="checkbox" id="checkbox-movies" class="mdl-checkbox__input">
                <span class="mdl-checkbox__label">Inhouse movies</span>
              </label>
            </span>
          </li>
          <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
              <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-Crib">
                <input type="checkbox" id="checkbox-Crib" class="mdl-checkbox__input">
                <span class="mdl-checkbox__label">Crib available</span>
              </label>
            </span>
          </li>
          <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
              <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-Beach">
                <input type="checkbox" id="checkbox-Beach" class="mdl-checkbox__input">
                <span class="mdl-checkbox__label">Beach</span>
              </label>
            </span>
          </li>
          <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
              <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-Handicapped">
                <input type="checkbox" id="checkbox-Handicapped" class="mdl-checkbox__input">
                <span class="mdl-checkbox__label">Handicapped room</span>
              </label>
            </span>
          </li>
          <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
              <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-Smoking">
                <input type="checkbox" id="checkbox-Smoking" class="mdl-checkbox__input">
                <span class="mdl-checkbox__label">Smoking room</span>
              </label>
            </span>
          </li>
          <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
              <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-safe">
                <input type="checkbox" id="checkbox-safe" class="mdl-checkbox__input">
                <span class="mdl-checkbox__label">In-room safe</span>
              </label>
            </span>
          </li>
          
        </ul>
      </div>

      <div class="create-template-buttons">
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent c--green js-save-template">Create template</button>
      </div>
    </div>
  </div>
  <!-- end popup -->




	<!-- scripts -->
	<script src="angular.js"></script>
  <script src="js/app.js"></script>

  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

  <script>

    $('.js-create-template').on('click', function () {
      $('.js-create-template-popup').show();
    });
    $('.js-save-template').on('click', function () {
      $('.js-create-template-popup').hide();
    });

    $('.mdl-textfield__input').on('press', function() {
      console.log(111111);
    })
    $(".mdl-textfield__input").keydown(function(e) {
      if (e.keyCode === 13) {
        console.log('scroll')
        $('html,body').animate({
          scrollTop: $('.search-templates').offset().top
        }, 500);
      }
    });
    
  </script>

  <style>
    .c-hidden {display: none !important;}
  </style>
  
</body>
</html>