@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);

header, body, html {
  height: 100%;
}
body {
  font-family: 'Roboto Condensed', sans-serif;
}

/* header */
header {
  position: relative;
  display: flex;
  /*height: 400px;*/
  background-image: url('https://i.ytimg.com/vi/zhFo7E-2hCk/maxresdefault.jpg');
  background-position: center center;
  background-size: cover;
}
header:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,.7)
}
header form > p {
  color: #fff;
  width: 700px;
  left: 20px;
  position: relative;
  padding-top: 30px;
}
.location-enter {
  position: relative;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}
.location-enter h2 {
  color: #fff;
  font-size: 36px;
  margin: 0;
  position: relative;
  left: 14px;
}
.location-enter input {
  color: #fff;
  border-color: #fff;
  text-align: center;
  /*border-color: rgba(255, 255, 255, 0.6);*/
}
header .mdl-textfield__label:after {
  background-color: #fff
}

header .mdl-button--icon {
  height: 64px;
  width: 64px;
}
header .mdl-button--icon .material-icons {
  width: 64px;
  height: 64px;
  line-height: 64px;
  font-size: 64px;
  transform: translate(-32px,-32px);
  color: #fff;
} 
header .mdl-textfield__input {
  font-size: 64px;
}



/* for card */
.roommade-card-wide.mdl-card {
  width: 100%;
}
.roommade-card-wide > .mdl-card__title {
  color: #fff;
  background-color: #3E4E49 !important;
  background: url('../assets/demos/welcome_card.jpg') center / cover;
}
.roommade-card-wide.is-select > .mdl-card__title {
  background-color: #1D9E74 !important;
}
.roommade-card-wide > .mdl-card__menu {
  color: #fff;
}

.mdl-card__actions i {
  position: absolute;
  right: 0;
  top: 20px;
}



.location-enter {
  padding: 80px 0;
  text-align: center;
}

.mdl-card__menu .material-icons {
  color: #fff;
  height: 30px;
  width: 30px;
  font-size: 30px;
}



/* cards template */
.search-templates {
  background: #EFEFEF;
  height: 100%;
  min-height: 1096px;
  position: relative;
}
.search-templates > p + div {
  height: 766px;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  flex: 1;
  align-items: center;
}
.search-templates > p + div .mdl-grid {
    display: flex;
    flex: 1;
    flex-flow: nowrap;
    justify-content: center;
 }
.search-templates > p {
  text-align: center;

  height: calc((100% - 766px)/2);
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;

  font-size: 60px;
  color: #555;
  margin: 0;
}
.search-templates .mdl-cell {
  display: flex;
  width: 400px;
  margin-left: 40px;
}
.search-templates .mdl-cell > div{
  display: flex;
  flex: 1; 
}
.roommade-card-create-template {
  padding: 0;
  text-align: center;
  width: 100%;
  flex: 1;
  display: flex;
}
.roommade-card-create-template .mdl-button--fab {
  border-radius: 50%;
  font-size: 48px;
  height: 111px;
  margin: auto;
  min-width: 56px;
  width: 111px;
}
.roommade-card-create-template .mdl-button--fab .material-icons {
  -webkit-transform: translate(-12px,-12px);
  transform: translate(-24px,-24px);
  line-height: 48px;
  width: 48px;
  height: 48px;
  font-size: 48px;
}


.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.is-upgraded.is-focused .mdl-textfield__label {
  color: #555;
}
.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.is-upgraded .mdl-textfield__label:after {
  background-color: #555;
}

.search-templates .mdl-card__supporting-text {
  width: auto;
  overflow-y: auto;
  height: 330px;
}

.mdl-textfield--floating-label.is-dirty .mdl-textfield__label {
  color: #1D9E74;
}
.mdl-card__actions {
  padding-top: 20px;
  background: #FBFBFB;
}
.mdl-card__actions .mdl-textfield {
  width: auto;
}
.mdl-card__actions .mdl-textfield:nth-child(odd) {
  margin-right: 24px;
}
.room-number {
  background-color: #3E4E49;
  margin-top: 40px;
}
.is-select .room-number {
  background: #1D9E74;
}
.room-number .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label {
  margin: 0 auto;
  display: block;
  width: 20%;
  padding-top: 0;
}
.room-number p {
  font-size: 28px;
  padding: 10px 0;
  margin: 0;
  color: #fff;
  text-align: center;
}
.room-number .mdl-textfield__input {
  text-align: center;
  color: #fff;
  font-size: 32px;
  padding: 0;
  padding-bottom: 4px;
  border-bottom: 1px solid #bdbdbd;
  text-align: center;
}
.room-number .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.is-upgraded .mdl-textfield__label:after {
  background-color: #fff;
}

.add-new-template {
  opacity: .3;
  transition: opacity .2s ease-out;
}
.add-new-template:hover {
  opacity: 1;
}






/* search */
.search-button {
  height: calc((100% - 766px)/2);

  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}
.search-button button {
  border-radius: 12px;
  font-size: 20px;
  height: 84px;
  padding: 32px 108px;
  line-height: 24px;
}










/* search-result */
.results {
  min-height: 200px;
  height: 100%;
  background-color: rgba(0,0,0,.05);
}
.results .mdl-tabs__tab {
  width: 50%;
  font-size: 24px;
}
.results .mdl-tabs__tab .mdl-tabs__ripple-container .mdl-ripple {
  background-color: #60C3A3;
}
.results .roommade-card {
  background-color: #fff;
}
.search-result-list {
  padding: 30px 15px;
}
.search-result-list > div {
  width: 100%;
  height: 300px;
  margin-bottom: 15px;
}










/* list card */
.roommade-card {
  position: relative;
  overflow: hidden;
}
.roommade-card-img {
  float: left;
  width: 300px;
  height: 100%;
}
.roommade-card-img p {
  height: 100%;
  background-position: center center;
  background-size: cover;
}
.roommade-card-body {
  float: right;
  width: calc(100% - 300px);
}
.roommade-card-body .mdl-card__title button {
  margin-left: 20px;
}
.roommade-card-body .mdl-card__supporting-text {
  padding-top: 0;
}
.roommade-card-body .mdl-card__supporting-text td {
  font-size: 16px
}
.roommade-card-body .mdl-progress>.progressbar {
  background-color: rgb(29, 158, 116);
}
.roommade-card-body .mdl-card__menu i {
  color: rgb(255,64,129)
}
.hotel-rating {
  margin-left: 15px;
}
.mdl-progress {
  width: 150px;
}

/* left list */
.list-options {
  width: 50%;
  float: left;
}
.list-options .mdl-list {
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.list-options .mdl-list__item {
  width: 50%;
  float: left;
  padding: 0;
  padding-left: 8px;
  min-height: auto;
}
.list-options .mdl-list__item .mdl-list__item-primary-content .mdl-list__item-icon {
  margin-right: 4px;
  color: green;
}
/* right list */
.rating-list {
  width: calc(50% - 20%);
  float: right;
  padding: 0 10%;
}
.rating-list .mdl-list {
  
  overflow: hidden;
  margin: 0;

  border: 1px solid #555;
  border-radius: 8px;
}
.rating-list .mdl-list__item {
  padding: 0;
  margin: 0;
  min-height: auto;

  padding: 8px;
}
.rating-list .mdl-list__item-primary-content {
  justify-content: center;
}




/* popup */
.create-template-popup {
  z-index: 999;
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,.8);
}
.create-template-popup > div {
  position: absolute;
  width: 60%;
  left: 50%;
  margin-left: -30%;
  margin-top: 2%;
  margin-bottom: 2%;
  background-color: #fff;
  height: 590px;
  top: 50%;
  margin-top: -295px;
}
.create-template-popup > div > p {
  margin: 0;
  text-align: center;
  font-size: 28px;
  padding: 24px 0;
  color: #555;
  border-bottom: 1px solid #1D9E74;
}
.create-template-buttons {
  border-top: 1px solid #1D9E74;
  padding: 24px 0;
  text-align: center;
}
.create-template-buttons button {
  border-radius: 12px;
  height: 56px;
  padding: 0 56px;
}





/* util */
.mdl-tabs.is-upgraded .mdl-tabs__tab.is-active:after {
  background: #1D9E74 !important;
}
.mdl-button--fab.mdl-button--colored.c--green,
.mdl-button--accent.mdl-button--accent.mdl-button--raised.c--green {
  background-color: #1D9E74;
}
.mdl-button--fab.mdl-button--colored.c--dark,
.mdl-button--accent.mdl-button--accent.mdl-button--raised.c--dark {
  background-color: #3E4E49;
}

.mdl-button--fab.mdl-button--colored.c--green:hover,
.mdl-button--accent.mdl-button--accent.mdl-button--raised.c--green:hover {
  background-color: #60C3A3;
}
.mdl-button--fab.mdl-button--colored.c--dark:hover,
.mdl-button--accent.mdl-button--accent.mdl-button--raised.c--dark:hover {
  background-color: #3E4E49;
}
























